html,
body {

    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;

}

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: ;

}

.canvas {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    background-color: white;

}
